# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

raya-sandbox-febdef173437.json
raya-production-firebase-adminsdk-fwcjc-fd9ade960d.json
ui-debug.log
.env
.env.prod
.env.local
firebase-debug.log
/utils/Exercises
/root
/cache

utils/usersStatsPull
utils/clubEventsPull

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts